In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\HP\Downloads\oasis infotybe tasks\car data.csv')

In [5]:
df.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [8]:
df.shape

(301, 9)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [10]:
df.describe

<bound method NDFrame.describe of     Car_Name  Year  Selling_Price  Present_Price  Driven_kms Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Selling_type Transmission  Owner
0         Dealer       Manual      0
1         Dealer       Manual      0
2         Dealer       Manual      0
3         Dealer       Manual      0
4         Dealer       Manual      0
..           ...          ...    ...
296       Dealer       Manual      0
297       Dealer       Manual      0
298       Dealer       Manual      0
299       Dealer       Manual      0
300       Dealer       Manual      0

[301 rows x 9 columns]>

In [12]:
df['Car_Age'] = 2025 - df['Year']
df['Car_Age'].head(5)

0    11
1    12
2     8
3    14
4    11
Name: Car_Age, dtype: int64

In [13]:
df = df.drop(['Year', 'Car_Name'], axis=1)

In [14]:
df.head(5)

,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner,Car_Age
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,11
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,12
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,8
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,14
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,11

In [15]:
df_encoded = pd.get_dummies(df, drop_first=True)
print("Columns after encoding:\n", df_encoded.columns)
print("\nPreview of encoded data:\n", df_encoded.head())

Columns after encoding:
 Index(['Selling_Price', 'Present_Price', 'Driven_kms', 'Owner', 'Car_Age',
       'Fuel_Type_Diesel', 'Fuel_Type_Petrol', 'Selling_type_Individual',
       'Transmission_Manual'],
      dtype='object')

Preview of encoded data:
    Selling_Price  Present_Price  Driven_kms  Owner  Car_Age  Fuel_Type_Diesel  \
0           3.35           5.59       27000      0       11             False
1           4.75           9.54       43000      0       12              True
2           7.25           9.85        6900      0        8             False
3           2.85           4.15        5200      0       14             False
4           4.60           6.87       42450      0       11              True

   Fuel_Type_Petrol  Selling_type_Individual  Transmission_Manual
0              True                    False                 True
1             False                    False                 True
2              True                    False                 True
3              True                    False                 True
4             False                    False                 True

In [16]:
from sklearn.model_selection import train_test_split
X = df_encoded.drop('Selling_Price', axis=1)  # Features
y = df_encoded['Selling_Price']              # Target variable
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42)
print("Training data shape:", X_train.shape)
print("Testing data shape:", X_test.shape)

Training data shape: (240, 8)
Testing data shape: (61, 8)

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print("Mean Squared Error:", mse)
print("R² Score (Accuracy):", r2)

Mean Squared Error: 3.4813498305118245
R² Score (Accuracy): 0.8488707839193151

In [ ]:
model.coef_  #.fit() calculates coefficients

array([ 4.29069811e-01, -6.18109026e-06, -9.05017987e-01, -3.52925056e-01,
        2.53490436e+00,  7.39154592e-01, -1.19164236e+00, -1.64007369e+00])

In [ ]:
model.intercept_ #Selling Price=(a1*feature1+a2*feature2+…+Intercept)

6.486926951572726

In [29]:
import numpy as np
# input-> [Present_Price, Driven_kms, Owner, Car_Age, Fuel_Type_Diesel, Fuel_Type_Petrol, Selling_type_Individual, Transmission_Manual]
input_data = np.array([[7.5, 35000, 0, 5, 0, 1, 0, 1]])  # Petrol, Dealer, Manual
predicted_price = model.predict(input_data)
print("Predicted Selling Price: ₹", round(predicted_price[0], 2), "lakhs")

Predicted Selling Price: ₹ 6.82 lakhs

c:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [31]:
input_data = np.array([[9.54, 43000, 0, 6, 1, 0, 0, 1]])  # Diesel, Dealer, Manual
predicted_price = model.predict(input_data)
print("Predicted Selling Price: ₹", round(predicted_price[0], 2), "lakhs")

Predicted Selling Price: ₹ 9.09 lakhs

c:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(